*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'medium';
    src: url(fontes/AfacadFlux-Medium.ttf);
}
@font-face {
    font-family: 'regular';
    src: url(fontes/AfacadFlux-Regular.ttf);
}
@font-face {
    font-family: 'bold';
    src: url(fontes/AfacadFlux-Bold.ttf);
}
/* MENU */
.Menu {
    background-color: #482304; 
    justify-content: center;
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
    height: 250px;
    }
    .teste{
        position: fixed;
     z-index: 1000; /* Para garantir que a imagem fique sobre outros elementos */
     width: 100%;
     bottom: 500px;
    }
    .logo {
    align-items:center;
    justify-content: center;
    margin-top: 65px;
    }
    .itens {
    display: flex;
    margin-right: 90px;
    margin-top: 40px;
    margin-left: 9px;
    display: flex;
    align-items: center;
    }
    .porta {
    display:flex;
    margin-left: 90px; 
    margin-top: 40px;
    }
    .entrar {
    display: flex;
    margin-right: 70px;
    margin-top: 40px;
    font-size: 35px;
    font-family: 'regular';/* Mudar o nome da fonte para como vc escreveu*/
    cursor: pointer;
    }
    .cadastrar {
        display: flex;
        margin-right: 70px;
        margin-top: 40px;
        border: 1px solid #ffc704;
        background-color: #ffc704;
        border-radius: 20px;
        padding: 9px;
        width: 165px;
        display: inline-block;
        text-align: center;
        font-size: 35px;
        font-family: 'regular';/* Mudar o nome da fonte para como vc escreveu*/
        }
    bt{
        font-family: 'bold';/* Mudar o nome da fonte para como vc escreveu*/
        color: #482304;
        background-color: #FFC704;
        width: 186px;
        height: 38.4px;
        border-radius: 40px;
        font-size: 20.6px;
    }
    nav {
        display: flex;
        justify-content: center;
        margin-top: -19px;
    }
    nav a {
    margin: 0 30px;
    background-color: #482304;
    color: #FFC704;
    padding: 15px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 140px;
    font-family: 'regular';/* Mudar o nome da fonte para como vc escreveu*/
    font-size: 23px;
    }
    .cadastrar:hover {
        color: white;
        box-shadow: inset 0 4px 15px -5px rgba(0, 0, 0, 0.7); /* 
        inset: faz a sombra parecer interna
        0: deslocamento horizontal (sem deslocamento)
        4px: deslocamento da sombra para baixo
        15px: raio de desfoque da sombra (aumentado para suavizar)
        -5px: valor negativo para contrair a sombra para dentro
        rgba(0, 0, 0, 0.7): cor da sombra (preto com 70% de opacidade)
    */
    }
    
    .promo1 {
        font-family:'regular';/* Mudar o nome da fonte para como vc escreveu*/
        font-weight: 600;
            color: #ffc704;
            }
    
    .tx{
        display: flex;
        height: 10px;
        color: white;
        margin-top: 30px;
        font-family: 'regular';/* Mudar o nome da fonte para como vc escreveu*/
    }
    .taxado {
        color: white;
        margin-top: 15px;
    }
    
    .novo {
        color: white;
        margin-top: 5px;
    }
    
    span {
        color:#19CF15;
        }
    
    
        .ho {
            font-size: 40px;
            margin-left: 22px;
            color: #FFC704;
        }
    
        .icon {
            font-size: 25px; 
            font-weight: bold;
    
        }
    
    
        
        .subir:hover {
            transform: scale(1.1); /* Aumenta o botão em 10% */
        }
    
        .m {
        color: #FFC704;
        position: relative;
        right: 75px;
        margin-top: 40px;
        }
    
        .loc:hover {
            transform: scale(1.1); /* Aumenta o botão em 10% */
        }
    
        .loca:hover {
            transform: scale(1.1); /* Aumenta o botão em 10% */
        }
    
        .it:hover {
            transform: scale(1.1); /* Aumenta o botão em 10% */
        }
    
        .caf:hover {
            transform: scale(1.1); /* Aumenta o botão em 10% */
        }
    
        
        .seg:hover {
            transform: scale(1.1); /* Aumenta o botão em 10% */
        }
    
        .botao-com-icone:hover {
            transform: scale(1.1); /* Aumenta o botão em 10% */
        }
    .container { 
        margin: 0; /* Remove a margem entre os botões */
        text-align: center;
        margin-top: -5px;
        height: 65px;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        display: flex;
    }
    a {
        text-decoration:none;
        color:#ffc704;
        margin-right: 35px;
    }
    ul {
        list-style-type: none; /* Remove as bolinhas */
        padding: 0; /* Remove o preenchimento padrão */
        margin: 0; /* Remove a margem padrão */
    }
    li {
        display: inline;
      }
/* Body */
.resto{
    background-color: #E8DED4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2{
    font-family: 'medium';
    color: #482304;
    display: flex;
    justify-content: center;
    font-size: 32px;
    padding: 20px 300px 50px;
    font-weight: 100;
    text-align: center;
}

/* INÍCIO FORMULÁRO */
label{
    font-size: 30px;
    font-family: 'medium';
    font-weight: 599;
    margin: 10px 0px 10px 10px;
    color: #704704;
}
input, select, option{
    background-color: #F7E8D8;
    font-size: 30px;
    font-family: 'regular';
    color: #A48A73;
    border-radius: 37.11px;
}
.Reservar{
    font-family: 'bold';
    color: #FFC704;
    background-color: #482304;
    width: 282px;
    border-radius: 40px;
    font-size: 40px;
    margin-top: 40px;
}
.qts{
    display: flex;
    flex-direction: row;
    width: 1080px;
    height: 328px;
    display: flex;
    justify-content: space-around;
}
.questoes{
    display: flex;
    flex-direction: column;
    width: 500px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nome{
    display: flex;
    flex-direction: column;
    
}
.unidade{
    display: flex;
    flex-direction: column;
}
.Qtd{
    display: flex;
    flex-direction: column;
}
.email{
    display: flex;
    flex-direction: column;
}
.horario{
    display: flex;
    flex-direction: column;
}
.data{
    display: flex;
    flex-direction: column;
}
input{
    padding: 0px 25px;
}
select{
    padding: 0px 20px;
    font-size: 30px;
}
.reser {
    display: flex;
    flex-direction: row;
    width: 1080px;
    height: 328px;
    display: flex;
    justify-content: space-around;
}
.enviar{
    background-color: #FFC704;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 1080px;
    height: 520px;
    justify-content: center;
    align-items: center;
} 
.titulo{ 
    padding: 50px 650px;
    height: 250px;
    margin-top: 250px;
}
.titulo2{
    padding: 50px 650px;
    height: 200px;
}
.textoFinal{
    font-family: 'medium';
    color: #482304;
    display: flex;
    justify-content: center;
    font-size: 32px;
    padding: 50px 300px 50px;
    font-weight: 550;
    text-align: center;
}
span{
    color: #A48A73;
}

/* Footer */
footer{
    background-color: #482304;
    color: #ffc704;
    display: flex;
    height: 900px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: regular;
}

.logo{
    height: 200px;
    width: 300px;
    display: flex;
}

.nossasRedes, .contatos, .nossaLocalizacao{
    display: flex;
    height: 450px;
    width: 320px;
    flex-direction: column;
}

.imgFooter{
    height: 50px;
    width: 50px;
    margin-bottom: 15px;
}
.localizacao, .tiktok, .instagram, .facebook, .x, .linkedin, .ifood, .whatsapp, .telefoneFooter, .emailFooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tiktok{
    width: 100px;
    margin-top: 15px;
}
.instagram{
    width: 100px;
}
.facebook{
    width: 100px;
}
.x{
    width: 70px;
}
.linkedin{
    width: 120px;
}
.ifood{
    width: 100px;
}
.informacoesFooter{
    height: 500px;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
p{
    font-size: 20px;
}
.imgNossasRedes{
    height: 35px;
    width: 250px;
}
.imgContatos{
    height: 40px;
    width: 300px;
}
.imgLocalizacao{
    height: 35px;
    width: 250px;
    margin-bottom: 20px;
}
.imagem{
    display: flex;
    align-items: center;
    justify-content: center;

}
.telefoneFooter{
    width: 150px;
}

.whatsapp{
    width: 200px;
    margin-top: 15px;
}
.emailFooter{
    width: 290px;
}

.linha-vertical{
    border: 2px solid #ffc704;
    height: 450px;
}

.outrasInformacoes{
    display: flex;
    width: 700px;
    margin-top: 50px;
    justify-content: space-between;
    margin-bottom: 20px;
}

h5{
    font-size: 25px;
    font-weight: 100;
}

.informacao{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 410px;
}

.linha-horizontal{
    border: 2px solid #ffc704;
    width: 1300px;
}

.info{
    margin-left: 10px;
    margin-bottom: 10px;
}

.imgFooter1{
    height: 40px;
    width: 40px;
    margin-bottom: 15px;
    margin-left: 5px;
}

.imgFooter2{
    height: 40px;
    width: 40px;
    margin-bottom: 15px;
    margin-left: 5px;
}

.imgFooter3{
    height: 45px;
    width: 40px;
    margin-bottom: 15px;
    margin-left: 5px;
}

.cadastrar, .subir{
    cursor: pointer;
}